/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div {
  display: block;
}

body {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color : #F8F8F8;
  width: 100%;
  padding : 15px;
  text-align: right;
  box-sizing: cover;
}

ul {
  text-align: left;
  width: 600px;
  margin-left: 25%;
}

li {
  list-style: none;
}

.article {
  margin-bottom: 40px;
  border-bottom: solid 1px grey;
  width : auto;
}

a {
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  color: black;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  font-family: 'Arial', sans-serif;
  color: grey;
  font-size: 15px;
}

link {
  padding : 15px;
  border-radius: 6px;
  background-color: black;
}

.container {
  text-align: center;
}

.navbar a {
  font-weight: lighter;
}
